<div class ="center">
</div>
<table class = "center">
	<tr>
		<td>
			<div class = "user-type"> Student </div>
			
		</td>

		<td>
			<div class = "user-type"> Sponsor </div>
			
		</td>

		<td>
			<div class = "user-type"> Instructor </div>
			
		</td>
	</tr>
</table>